header {
    border-style: double;
    border-color: black;
    font-style: oblique;
    border-top: 20px;
    text-align: center;
}

body {
    text-align: left;
    font-style: italic oblique;
    border-style: double;


    background-color: antiquewhite;
}

footer {
    border-style: double;
    border-color: black;
    font-style: italic;
    border-bottom: 20px;
}