header {
    border-style: double;
    border-color: black;
    font-style: oblique;
    border-top: 20px;
    text-align: center;
    text {
        display: none;
        font-size: 20px;
        margin-top: 10px;
    }
    background-color:bisque;
}

body {
    text-align: left;
    font-style: italic oblique;
    border-style: double;
    border-color: black;
    background-color:beige;
    #countdown {
        font-size: 2em;
        font-weight: bold;
        color: #000000;
    }
    
}

footer {
    border-style: double;
    border-color: black;
    font-style: italic;
    border-bottom: 20px;
    text-align: center;
    background-color:azure;
}
